.engineering {
  background-image: url("./img/eng1.jpg");
  height: 600px;
  background-size: cover;
}

.engineering h1 {
  font-size: clamp(2rem, 5vw, 5rem);
  text-align: center;
  width: 100%;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .engineering {
    height: 400px;
    background-size: cover;
    margin-bottom: 0 !important;
    background-repeat: no-repeat;
  }

  .engineering h1 {
    position: absolute !important;
    top: 45%;
    font-size: clamp(1.75rem, 4vw, 2.5rem);
  }
}